.blur-behind {
  backdrop-filter: blur(15px) saturate(70%);
}

.brand {
  font-size: 2rem;
}

body {
  font-family: Consolas, monospace;
  background-color: rgb(135, 146, 236);
}

table {
  table-layout: fixed;
}

td.truncate {
  white-space: unset;
  overflow: hidden;
  text-overflow: ellipsis;
}
form{
  max-width: 768px;
  margin: auto;
}