.blur-behind {
  backdrop-filter: blur(15px) saturate(90%);
}

.brand {
  font-size: 2rem;
}

body {
  font-family: Consolas, monospace;
  background-color: rgb(53, 122, 131);
}

table {
  table-layout: fixed;
}

td.truncate {
  white-space: unset;
  overflow: hidden;
  text-overflow: ellipsis;
}
form{
  max-width: 768px;
  margin: auto;
}